@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, menu, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 15px;
}
@media (max-width: 992.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}
body.lock {
  overflow: hidden;
}

.header {
  background-color: #000;
}
.header__row {
  height: 70px;
  display: flex;
  font-size: 0;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 3;
}

.navigation__list {
  display: flex;
  font-size: 0;
}
.navigation__list li {
  margin: 0px 0px 0px 50px;
}
.navigation__link {
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.navigation__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navigation__body {
    position: fixed;
    z-index: 2;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #000;
    padding: 0px;
    transition: all 0.4s ease 0s;
  }
  .navigation__body.active {
    top: 0;
  }

  .navigation__list {
    margin: 70px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation__list li {
    margin: 0 0 30px 0;
  }
  .navigation__list li:last-child {
    margin: 0;
  }

  .navigation__link {
    margin: 0px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .icon-burger {
    display: block;
    position: absolute;
    top: 26px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-burger span {
    transition: all 0.4s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-burger span:first-child {
    top: 0;
  }
  .icon-burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-burger.active span {
    transform: scale(0);
    background-color: #fff;
  }
  .icon-burger.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-burger.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

.footer {
  background-color: #000;
}
.footer__body {
  padding: 20px 0px 15px 0px;
}
.footer__social {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
}
.footer__social a {
  margin: 0px 15px;
}
.footer__text {
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding: 15px 0px 0px 0px;
}

@media (max-width: 400px) {
  .footer__social a {
    margin: 0px 7.5px;
  }
}
.download {
  display: block;
  width: 135px;
  height: 42px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.download:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-orange {
  display: block;
  height: 44px;
  border-radius: 4px;
  background-color: #ff8b38;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 43px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: all 0.4s ease 0s;
}
.btn-orange:hover {
  background-color: #ff6f08;
}

.title-low {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding: 0px 0px 28px 0px;
}
.title-low:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 64px;
  height: 2px;
  background-color: #ff8b38;
}
@media (max-width: 768px) {
  .title-low {
    padding: 0px 0px 18px 0px;
  }
}

.title-big {
  font-size: 36px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 28px 0px;
  margin: 0px 0px 30px 0px;
}
.title-big:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 2px;
  transform: translate(-50%);
  background-color: #ff8b38;
}
.title-big_white {
  color: #fff;
}
.title-big_white:before {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .title-big {
    padding: 0px 0px 18px 0px;
    margin: 0px 0px 18px 0px;
  }
}

.form-error {
  color: red;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
  display: block;
  display: none;
}

.block1 {
  background-image: url("../img/block1/bg_01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block1__row {
  display: flex;
  font-size: 0;
  padding: 110px 0 138px 0;
}
@media (max-width: 1100px) {
  .block1__row {
    padding: 70px 0px;
  }
}
@media (max-width: 950px) {
  .block1__row {
    padding: 40px 0px;
  }
}
.block1__column {
  flex: 0 1 50%;
}
.block1__column_r {
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  align-items: flex-end;
}
.block1__logo {
  margin: 0px 0px 30px 0px;
}
.block1__title {
  position: relative;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  line-height: 38px;
  color: #fff;
  padding: 0px 0px 37px 0px;
  margin: 0px 0px 37px 0px;
}
.block1__title:before {
  content: "";
  width: 54px;
  height: 2px;
  position: absolute;
  left: 2px;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 950px) {
  .block1__title {
    font-size: 30px;
  }
}
.block1__text {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 23px;
  color: #fff;
  max-width: 475px;
}
.block1__download {
  margin: 43px 0px 0px 0px;
}

.form {
  width: 360px;
  text-align: center;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
@media (max-width: 450px) {
  .form {
    width: 100%;
  }
}
.form__title {
  background-color: #f5f5f5;
  height: 54px;
  font-size: 20px;
  line-height: 54px;
  border-radius: 5px 5px 0 0;
}
.form__title span {
  text-transform: uppercase;
  color: #ff8b38;
  font-weight: 700;
}
.form__body {
  background-color: #fff;
  padding: 28px 0 48px 0;
}
.form__body input {
  display: block;
  width: 77%;
  height: 33px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  padding: 0px 10px;
}
@media (max-width: 450px) {
  .form__body input {
    width: 85%;
  }
}
.form__name {
  margin: 0px auto 35px auto;
}
.form__email {
  margin: 0px auto 45px auto;
}
.form__password {
  margin: 0px auto;
}
.form__submit {
  display: block;
  background-color: #ff9b51;
  height: 54px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  line-height: 54px;
  color: #fff;
  border-radius: 0 0 5px 5px;
  transition: all 0.4s ease 0s;
}
.form__submit:hover {
  background-color: #fc7c21;
}

@media (max-width: 768px) {
  .block1__row {
    flex-direction: column;
    padding: 40px 10px;
  }

  .block1__column {
    flex: none;
  }

  .block1__column_r {
    padding: 43px 0 0 0;
    display: block;
    width: 360px;
    margin: 0 auto;
  }

  .block1__body {
    max-width: none;
    text-align: center;
  }

  .block1__title {
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
  }

  .block1__title:before {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }

  .block1__text {
    margin: 0 auto;
  }

  .block1__download {
    margin: 25px auto 0px auto;
  }

  .form__title {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .block1__row {
    padding: 30px 10px;
  }

  .block1__column_r {
    width: 100%;
  }
}
.block2 {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.block2__row {
  display: flex;
  font-size: 0;
  padding: 20px 0;
}
.block2__column_left {
  flex: 0 1 33%;
}
.block2__column_right {
  display: flex;
  font-size: 0;
  align-items: center;
  flex-grow: 1;
}
.block2__media {
  width: 100%;
}
.block2__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}
.block2__subtitle {
  font-size: 14px;
  line-height: 20px;
}
.block2__icons {
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-left: 25px;
}
.block2__item {
  display: block;
  margin: 0 10px;
  transition: all 0.3s ease 0s;
}
.block2__item:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .block2__column_left {
    flex: 0 1 50%;
  }

  .block2__icons {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
  }

  .block2__item {
    transform: scale(0.9);
    margin: 4px 15px;
  }
}
@media (max-width: 600px) {
  .block2__column_left {
    flex: 0 1 60%;
  }
}
@media (max-width: 500px) {
  .block2__row {
    flex-direction: column;
  }

  .block2__column {
    flex: none;
  }

  .block2__media {
    padding: 0px 10px;
  }

  .block2__media {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}
.block3 {
  background-color: #f5f5f5;
}
.block3__row {
  display: flex;
  font-size: 0;
  padding: 145px 0px 115px 0;
}
.block3__column {
  flex: 1 1 66.667%;
}
.block3__column_small {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  flex: 1 0 33.333%;
}
.block3__image {
  width: 100%;
}
.block3__image img {
  width: 100%;
}

.tab {
  display: flex;
  font-size: 0;
}
.tab__items {
  display: flex;
  font-size: 0;
  flex-direction: column;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.tab__item {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  flex: 0 1 33.333%;
  background-color: #333333;
  width: 110px;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.tab__item span {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.tab__item.active {
  background-color: #ff8b38;
}
.tab__item:hover:not(.active) {
  background-color: #474747;
}
.tab__body {
  margin: 8px 100px 22px 100px;
}
.tab__content {
  display: none;
  height: 100%;
}
.tab__content.active {
  display: block;
}
.tab__title {
  font-weight: 700;
  font-size: 20px;
  margin: 0px 0px 52px 0px;
}
.tab__text {
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
}
.tab__text p:first-child {
  margin: 0px 0px 22px 0px;
}
.tab__btn {
  margin: 50px 0px 0px 0px;
}
.tab__btn a {
  width: 119px;
}

.tab__item:nth-child(1) {
  border-bottom: 1px solid #c7c7c7;
  border-radius: 5px 5px 0 0;
}
.tab__item:nth-child(2) {
  border-bottom: 1px solid #c7c7c7;
}
.tab__item:nth-child(3) {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 1100px) {
  .block3__row {
    padding: 70px 0px;
  }

  .tab__body {
    margin: 8px 60px 22px 60px;
  }

  .tab__title {
    margin: 0px 0px 30px 0px;
  }

  .tab__btn {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 900px) {
  .block3__row {
    padding: 40px 0px;
  }

  .tab__body {
    margin: 8px 30px 22px 40px;
  }

  .tab__title {
    margin: 0px 0px 25px 0px;
  }

  .tab__text p:first-child {
    margin: 0px 0px 15px 0px;
  }

  .tab__btn {
    margin: 25px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .block3__row {
    flex-direction: column;
  }

  .block3__column {
    flex: none;
  }

  .block3__column_small {
    display: none;
  }

  .tab__item {
    width: 90px;
  }
}
@media (max-width: 500px) {
  .block3__row {
    padding: 30px 0px;
  }

  .tab__body {
    margin: 4px 20px 15px 30px;
  }

  .tab__title {
    margin: 0px 0px 15px 0px;
  }

  .tab__text {
    text-align: justify;
    font-size: 13px;
  }

  .tab__btn {
    margin: 15px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .block3__column {
    flex: none;
  }

  .block3__column_small {
    margin: 20px 0px 0px 0px;
    display: flex;
    font-size: 0;
  }

  .tab {
    flex-direction: column;
  }

  .tab__items {
    flex-direction: row;
  }

  .tab__item {
    padding: 15px 0;
  }

  .tab__title {
    text-align: center;
    margin: 25px 0px 15px 0px;
    line-height: 22px;
  }

  .tab__body {
    margin: 0px 7px 0px 7px;
  }

  .tab__btn {
    margin: 15px auto 0px auto;
  }

  .tab__item:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
    border-bottom: none;
    border-right: 1px solid #c7c7c7;
  }
  .tab__item:nth-child(2) {
    border-bottom: none;
    border-right: 1px solid #c7c7c7;
  }
  .tab__item:nth-child(3) {
    border-radius: 0px 5px 5px 0px;
  }
}
.block4__row {
  display: flex;
  font-size: 0;
  padding: 105px 0px 135px 0px;
  margin: 0 -95px;
}
@media (max-width: 1200px) {
  .block4__row {
    padding: 85px 0px 105px 0px;
    margin: 0 -60px;
  }
}
@media (max-width: 1100px) {
  .block4__row {
    padding: 70px 0px;
    margin: 0 -45px;
  }
}
@media (max-width: 900px) {
  .block4__row {
    padding: 40px 0px;
    margin: 0 -25px;
  }
}
.block4__column {
  flex: 0 1 50%;
  padding: 0 95px;
}
@media (max-width: 1200px) {
  .block4__column {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .block4__column {
    padding: 0 45px;
  }
}
@media (max-width: 900px) {
  .block4__column {
    padding: 0 25px;
  }
}
.block4__image {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  margin: 22px 0px 0px 0px;
  height: 303px;
}
.block4__image img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.3);
}
.block4__section {
  padding: 0px 10px 0px 0px;
}
.block4__title {
  margin: 0px 0px 30px 0px;
}
.block4__text {
  font-size: 14px;
  color: #86878b;
  line-height: 20px;
}
.block4__block {
  display: flex;
  font-size: 0;
  margin: 40px 0px 0px 0px;
}
.block4__ico {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease 0s;
}
.block4__ico:hover {
  background-color: #fff70040;
}
.block4__body {
  margin: 0px 0px 0px 30px;
}
.block4__subtitle {
  font-size: 14px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}

@media (max-width: 768px) {
  .block4__row {
    margin: 0 -15px;
  }

  .block4__column {
    padding: 0 15px;
  }

  .block4__image {
    margin: 44px 0px;
  }

  .block4__title {
    margin: 0px 0px 15px 0px;
  }

  .block4__block {
    margin: 20px 0px 0px 0px;
  }

  .block4__body {
    margin: 0px 0px 0px 15px;
  }
}
@media (max-width: 600px) {
  .block4__row {
    flex-direction: column;
  }

  .block4__column {
    flex: none;
  }

  .block4__image {
    margin: 0px 0px 20px 0px;
  }
  .block4__image img {
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 500px) {
  .block4__row {
    padding: 30px 0px;
  }
}
.block5 {
  background-color: #f5f5f5;
}
.block5__row {
  display: flex;
  font-size: 0;
  padding: 90px 0px 130px 0px;
  margin: 0 -95px;
}
@media (max-width: 1200px) {
  .block5__row {
    padding: 75px 0px 105px 0px;
    margin: 0 -60px;
  }
}
@media (max-width: 1100px) {
  .block5__row {
    padding: 70px 0px;
    margin: 0 -45px;
  }
}
@media (max-width: 900px) {
  .block5__row {
    padding: 40px 0px;
    margin: 0 -25px;
  }
}
.block5__column {
  flex: 0 1 50%;
  padding: 0 95px;
}
@media (max-width: 1200px) {
  .block5__column {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .block5__column {
    padding: 0 45px;
  }
}
@media (max-width: 900px) {
  .block5__column {
    padding: 0 25px;
  }
}
.block5__image {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  height: 303px;
}
.block5__image img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.3);
}
.block5__title {
  margin: 0px 0px 30px 0px;
}
.block5__text {
  font-size: 14px;
  color: #86878b;
  line-height: 20px;
}
.block5__text p:first-child {
  margin: 0px 0px 25px 0px;
}

@media (max-width: 768px) {
  .block5__row {
    margin: 0 -15px;
  }

  .block5__column {
    padding: 0 15px;
  }

  .block5__title {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 600px) {
  .block5__title {
    margin: 0px 0px 15px 0px;
  }

  .block5__row {
    flex-direction: column;
  }

  .block5__column {
    flex: none;
  }

  .block5__image {
    padding: 20px 0px 0px 0px;
    height: 100%;
  }
  .block5__image img {
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 500px) {
  .block5__row {
    padding: 30px 0px;
  }
}
.block6__content {
  padding: 105px 0px;
}
@media (max-width: 1100px) {
  .block6__content {
    padding: 70px 0px;
  }
}
@media (max-width: 900px) {
  .block6__content {
    padding: 40px 0px;
  }
}
.block6__header {
  text-align: center;
  margin: 0px 0px 80px 0px;
}
@media (max-width: 900px) {
  .block6__header {
    margin: 0px 0px 50px 0px;
  }
}
.block6__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #86878b;
}
.block6__body {
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.block6__column {
  flex: 0 1 33.3333%;
}
.block6__card {
  padding: 0px 15px;
}

.card {
  display: flex;
  font-size: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card__ico {
  width: 70px;
  height: 70px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
}
.card__title {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0px;
}
.card__text {
  font-size: 14px;
  color: #86878b;
  line-height: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .block6__content {
    padding: 30px 0px;
  }

  .block6__body {
    margin: 0px -7.5px;
  }

  .block6__card {
    padding: 0px 7.5px;
  }
}
@media (max-width: 650px) {
  .block6__body {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .block6__column {
    flex: none;
  }

  .block6__header {
    margin: 0px 0px 30px 0px;
  }

  .block6__title {
    margin: 0px 0px 18px 0px;
  }

  .block6__card {
    max-width: 350px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
  }

  .block6__card_last {
    margin: 0px;
  }

  .card__title {
    margin: 15px 0px;
  }
}
.block7 {
  background-color: #f5f5f5;
}
.block7__content {
  padding: 105px 0px 95px 0px;
}
@media (max-width: 1100px) {
  .block7__content {
    padding: 70px 0px;
  }
}
@media (max-width: 900px) {
  .block7__content {
    padding: 40px 0px;
  }
}
.block7__header {
  text-align: center;
}
.block7__subtitle {
  line-height: 18px;
  color: #86878b;
}
.block7__body {
  display: flex;
  font-size: 0;
  padding: 80px 0px 0px 0px;
  margin: 0px -20px;
  align-items: flex-end;
}
@media (max-width: 1100px) {
  .block7__body {
    padding: 60px 0px 0px 0px;
  }
}
@media (max-width: 950px) {
  .block7__body {
    margin: 0px -10px;
  }
}
.block7__column {
  flex: 0 1 33.333%;
  margin: 0px 20px;
}
@media (max-width: 950px) {
  .block7__column {
    margin: 0px 10px;
  }
}
.price {
  text-align: center;
}
.price__top {
  color: #fff;
  background-color: #333333;
}
.price__title {
  font-size: 20px;
  font-weight: 700;
  padding: 19px 0px;
  margin: 0px 0px 5px 0px;
  border-bottom: 1px solid #fff;
}
.price__price {
  font-size: 94px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.price__price span {
  font-size: 35px;
}
.price__subscription {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #adadad;
  padding: 15px 0px 18px 0px;
}
.price__subtitle {
  padding: 2.5px 0px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff8b38;
}
.price__body {
  background-color: #fff;
  color: #86878b;
  font-size: 14px;
  text-transform: uppercase;
}
.price__block {
  padding: 13px 0px;
  border-bottom: 1px solid #f5f5f5;
}
.price__block:first-child {
  border-top: 1px solid #f5f5f5;
}

@media (max-width: 768px) {
  .block7__content {
    padding: 30px 0px;
  }

  .block7__body {
    flex-direction: column;
    align-items: center;
    display: block;
    max-width: 330px;
    margin: 0 auto;
    padding: 0px;
  }

  .block7__column {
    margin: 40px 0px;
  }
  .block7__column:last-child {
    margin: 0px;
  }

  .price__spoiler {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    background-color: #333333;
    color: #fff;
    line-height: 30px;
    height: 30px;
  }

  .price__spoiler:before,
.price__spoiler:after {
    content: "";
    width: 15px;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
    top: 7px;
    transition: all 0.4s ease 0s;
  }

  .price__spoiler:before {
    transform: rotate(0deg);
    left: 30%;
    top: 50%;
  }

  .price__spoiler:after {
    transform: rotate(90deg);
    left: 30%;
    top: 50%;
  }

  .price__spoiler.active {
    background-color: rgba(0, 0, 0, 0.15);
    color: #333333;
  }

  .price__spoiler.active:before,
.price__spoiler.active:after {
    background-color: #333333;
  }

  .price__spoiler.active:before {
    transform: rotate(-135deg);
  }

  .price__spoiler.active:after {
    transform: rotate(-45deg);
  }

  .price__body {
    display: none;
  }
}
.block8__content {
  padding: 105px 0px 100px 0px;
}
@media (max-width: 1100px) {
  .block8__content {
    padding: 70px 0px;
  }
}
.block8__header {
  margin: 0px 0px 55px 0px;
}
.block8__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #86878b;
  text-align: center;
}
.block8__body {
  display: flex;
  font-size: 0;
  margin: 0px -60px;
}
@media (max-width: 1100px) {
  .block8__body {
    margin: 0px -30px;
  }
}
@media (max-width: 950px) {
  .block8__body {
    margin: 0px -20px;
  }
}
.block8__column {
  padding: 0px 60px;
}
@media (max-width: 1100px) {
  .block8__column {
    padding: 0px 30px;
  }
}
@media (max-width: 950px) {
  .block8__column {
    padding: 0px 20px;
  }
}
.comment__text {
  position: relative;
  font-size: 14px;
  color: #86878b;
  font-style: italic;
  line-height: 18px;
  padding: 24px 12px;
  margin: 0px 0px 23px 0px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.comment__text:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -15px;
  left: 12%;
  margin: 0 0 0 -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f5f5f5;
}
.comment__account {
  display: flex;
  font-size: 0;
}
.comment__ico {
  flex: 0 0 70px;
}
.comment__ico img {
  width: 100%;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.comment__profile {
  flex: 1 1 100%;
  margin: 0px 0px 0px 15px;
  padding: 15px 0px;
}
.comment__name {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 6px 0px;
  transform: translate(2px);
}
.comment__profession {
  font-size: 14px;
  color: #86878b;
}

@media (max-width: 900px) {
  .block8__content {
    padding: 40px 0px;
  }
}
@media (max-width: 768px) {
  .block8__content {
    padding: 30px 0px;
  }

  .block8__body {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .block8__column {
    max-width: 350px;
    padding: 0px 0px 35px 0px;
  }
  .block8__column:last-child {
    padding: 0;
  }
}
.block9 {
  background-image: url("../img/block9/bg_01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block9__body {
  position: relative;
  z-index: 2;
  padding: 70px 0px 60px 0px;
}
.block9__subtitle {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.block9__download {
  margin: 32px 0px 0px 0px;
}
.block9__download a {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .block9__body {
    padding: 40px 0px;
  }

  .block9__subtitle {
    padding: 0px 10px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .block9__body {
    padding: 30px 0px;
  }
}
.block10__content {
  padding: 105px 0px 80px 0px;
}
@media (max-width: 1100px) {
  .block10__content {
    padding: 70px 0px;
  }
}
@media (max-width: 900px) {
  .block10__content {
    padding: 40px 0px;
  }
}
.block10__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #86878b;
}
.block10__form {
  margin: 80px 0px 0px 0px;
}
@media (max-width: 900px) {
  .block10__form {
    margin: 50px 0px 0px 0px;
  }
}
.block10__row {
  display: flex;
  font-size: 0;
  margin: 0px -34px;
}
.block10__column {
  padding: 0px 34px;
  flex: 0 1 50%;
}
.block10__column input {
  font-size: 14px;
  display: block;
  border: 1px solid #fff;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  padding: 10px 12px;
}
.block10__column input:focus {
  border: 1px solid #d6d6d6;
}
.block10__column input:valid:not(:placeholder-shown) {
  border-color: green;
}
.block10__column input:invalid:not(:placeholder-shown) {
  border-color: red;
}
.block10__column input:invalid:not(:placeholder-shown) + .form-error {
  display: block;
}
.block10__email {
  margin: 30px 0px;
}
.block10__message {
  font-size: 14px;
  border: 1px solid #fff;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px 12px;
  overflow: auto;
}
.block10__message:focus {
  border: 1px solid #d6d6d6;
}
.block10__message:valid:not(:placeholder-shown) {
  border-color: green;
}
.block10__btn {
  margin: 42px 0px 0px 0px;
}
.block10__btn input {
  margin: 0 auto;
  width: 145px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .block10__row {
    margin: 0px -15px;
  }

  .block10__column {
    padding: 0px 15px;
  }
}
@media (max-width: 650px) {
  .block10__content {
    padding: 30px 0px;
  }

  .block10__row {
    flex-direction: column;
    margin: 0px;
  }

  .block10__column {
    flex: none;
    padding: 0px;
  }
  .block10__column input {
    margin: 0 auto;
    max-width: 450px;
  }

  .block10__email {
    margin: 30px 0px;
  }

  .block10__message {
    display: block;
    margin: 30px auto 0px auto;
    max-width: 450px;
    height: 130px;
  }
}